*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-width: 100vw;
    min-height: 100vh;
    background-color: aliceblue;
}
.N{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}
.symbol{
    display: flex;
    padding: 7px;
    align-items:center;
    justify-content:space-between ;
}
.deals{
   display:flex;
   gap: 30px;
}
.first{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.picture{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}
.input{
    width: 30rem;
    display:flex;
    justify-content: center;
    padding: 7px;
    font-size: 20px;
}
.in{
    width: 100px;
    padding: 5px;
}
ul{
    display: flex;
    gap: 30px;
    font-size: 25px;
    list-style-type: none;
   margin-right: 50px;
   text-align: center;
}
a{
    text-decoration: none;
}
.items{
    padding: 25px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 30px;
    
}

.imagev{
    border-radius: 50%;
    display: flex;
    padding: 50px;
    justify-content: space-around;
    align-items: center;
}
.picture{
    width: 10rem;
    height: 10rem;
}
.offfer {
    display: block;
    margin: 25px auto;
    min-width: 90vw;
    min-height: 15vh;
    border-radius: 0%;
    padding: 15px;
}

.Naachiyar{
    display: block;
    margin: 25px auto;
    min-width: 90vw;
    min-height: 40vh;
     border-radius: 0%;
     padding: 15px;
}
.fruitBanner{
    display: block;
    margin: 25px auto;
    min-width: 90vw;
    min-height: 40vh;
     border-radius: 0%;
     padding: 15px;
}
.curated{
    /* border-radius: 50%; */
    display: flex;
    padding: 50px;
    justify-content: space-around;
    align-items: center;
}
.border{
    border: 2px solid blue;
   min-width: 15px;
   min-height: 60vh;
   display: flex;
   justify-content: center;
   text-align: center;
   padding: 30px;
   
}
.hole{
    display: block;
    margin: 25px auto;
    min-width: 90vw;
    min-height: 40vh;
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding: 45px;
}
.border_img{
    border-radius: 50%;
}
button{
    
    display: flex;
    justify-content: center;
    align-items: end;
}